<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-14 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:block">
            <div class="flex space-x-4">
              <a href="#" [routerLink]="['/home']" routerLinkActive="active" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">{{items.home}}</a>
              <a href="#" [routerLink]="['/pets']" routerLinkActive="active" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{items.pets}}</a>
              <a href="#" [routerLink]="['/toys-accessories']" routerLinkActive="active" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{items.toysAccessories}}</a>
              <a href="#" [routerLink]="['/book-appointment']" routerLinkActive="active" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{items.bookAppointment}}</a>
              <a href="#" [routerLink]="['/contact-us']" routerLinkActive="active" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">{{items.contactUs}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  