<div class="flex flex-row h-full">
    <div class="basis-1/2 pt-4 px-4 flex flex-col">
        <div class="h-c-90">
            <img src="../../../assets/images/pets/{{pet.image}}" class="w-full mb-2" />
        </div>
        <div class="grid grid-cols-3">
            <label><span class="text-500">Category: </span>{{getPetCategory(pet.category)}}</label>
            <label><span class="text-500">Height: </span>{{pet.height}} inches</label>
            <label><span class="text-500">Color: </span>{{pet.color}}</label>
            <label><span class="text-500">Breed: </span>{{pet.breed}}</label>
            <label><span class="text-500">Weight: </span>{{pet.weight}} grams</label>
            <label><span class="text-500">Life Expectancy: </span>{{pet.lifeExpectancy}} years</label>
          </div>
        
    </div>
    <div class="basis-1/2 pt-4 px-4 flex flex-col">
        <div class="h-c-90">
            <h2>{{pet.breed}}</h2>
            <p>{{pet.description}}</p>
        </div>
        <div class="flex flex-row-reverse py-2">
            <button (click)="onCloseDialog()" class="bg-transparent hover:bg-blue-950 text-blue-950 hover:text-white py-2 px-4 border border-blue-950 hover:border-transparent rounded">
                Close
            </button>
            <button (click)="onBookAppointment(pet.id)" class="bg-blue-950 hover:bg-blue-900 text-white py-2 px-4 rounded mx-3">
              Book An Appointment
            </button>
            <h1 class="pt-1">${{pet.price}}</h1>
        </div>
    </div>
  </div>