
<div class="block h-full p-4">
    <h2 class="secondary-color">Pet For Shopping</h2>
    <div class="w-full mt-2">
        <div class="h-full">
            <div class="flex ...">
                <div class="flex-none w-1/3">
                    <label class="relative block">
                        <span class="sr-only">Search</span>
                        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-color">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>                          
                        </span>
                        <input (keyup)="searchByText()" [(ngModel)]="textSearch" class="placeholder:italic h-42 placeholder:text-blue-950 block bg-white w-full border border-blue-950 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Search" type="text" name="search"/>
                    </label>
                </div>
                <div class="ml-4 pt-2">
                    <div class="flex flex-row">
                        <a (click)="filterBy(filterByDog)" class="underline hover:underline {{currentFilter == filterByDog ? 'active' : ''}}">Dogs</a>
                        <a (click)="filterBy(filterByCat)" class="underline hover:underline px-2 {{currentFilter == filterByCat ? 'active' : ''}}">Cats</a>
                        <a (click)="filterBy(filterByFish)" class="underline hover:underline px-2 {{currentFilter == filterByFish ? 'active' : ''}}">Fishes</a>
                        <a (click)="filterBy(filterByReptile)" class="underline hover:underline px-2 {{currentFilter == filterByReptile ? 'active' : ''}}">Reptiles</a>
                        <a (click)="filterBy(filterByBird)" class="underline hover:underline px-2 {{currentFilter == filterByBird ? 'active' : ''}}">Birds</a>
                        <a (click)="filterBy()" class="underline hover:underline px-2">Show All</a>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="mt-2 pb-2 main-container">
        <div class="grid grid-cols-4 gap-4">
            <div *ngFor="let pet of pets">
                <app-pet-card [data]="pet"></app-pet-card>
            </div>
        </div>
    </div>
  </div>