/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

body {
    font-family: 'Baloo Paaji 2';
    height: 100%;
}

.main-color {
    color: #212c5f
}

.secondary-color {
    color: #e17835;
}

.icon-color {
    color: #CECECE;
}

.h-inherit {
    height: inherit;
}

a:hover {
    color: #e17835;
}

.h-42 {
    height: 42px;
}

.font-semibold {
    font-weight: 900;
}